/* Fondo de la página */
body {
  background-color: black;
}

/* Tarjeta */
.tarjeta {
  background-color: white;   /* fondo de tarjeta */
  padding: 40px;             /* espacio adentro */
  margin: 50px auto;         /* espacio afuera y centrado horizontal */
  border-radius: 10px;       /* bordes redondeados */
  width: 400px;              /* ancho fijo */
  text-align: center;        /* centrar texto */
}

/* Imagen (opcional, para que no se vea gigante) */
.tarjeta img {
  width: 150px;
  margin-top: 10px;
}