/* style.css */

/* Página completa */
body {
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif; /* fuente personalizada */
  line-height: 1.5;               /* interlineado */
}

/* Tarjeta */
.tarjeta {
  background-color: white;
  padding: 20px;
  margin: 40px auto;   /* centrado horizontal */
  max-width: 600px;    /* ancho máximo */
  border-radius: 10px;
}

/* Colores para títulos */
h1 {
  color: black;      /* título principal negro */
  text-align: center;
}

h2 {
  color: turquoise;      /* subtítulos en azul tipo Twitter/X */
}

/* Párrafos y lista */
p, ul {
  font-size: 14px;
  line-height: 1.6;
  color: green;
}